<!-- <tr *ngFor="let task of tasksProps"> -->
<tr>
  <td>
    <div class="d-flex px-2 py-1">
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0 text-sm text-danger text-gradient">1</h6>
        <p class="text-xs text-secondary mb-0">{{indexProps}}</p>
      </div>
    </div>
  </td>
  <td>
    <p class="text-xs font-weight-bold mb-0">{{taskProps.name}}</p>
    <p class="text-xs text-secondary mb-0">залить бензин полный бак</p>
  </td>
  <td class="align-middle text-center text-sm">
    <!-- <span class="badge badge-sm bg-gradient-success">Online</span> -->
    <span class="bg-gradient-success">{{taskProps.category !== null ? taskProps.category.name : "No category"}}</span>
  </td>
  <td class="align-middle text-center">
    <span class="text-secondary text-xs font-weight-bold">{{taskProps.date | date:"middle"}}</span>
  </td>
  <td class="align-middle text-center">
    <span class="text-secondary text-xs font-weight-bold">{{taskProps.date | date:"yyyy.mm.dd"}}</span>
  </td>
  <td>
    <div class="form-check">
      {{taskProps.status}}
      <label class="form-check-label" (click)="onChangeChecked()">
        <input class="form-check-input" type="checkbox" value="" [checked]="isCheckedProps">
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </td>
</tr>