<footer class="footer py-4">
  <div class="container-fluid">
    <div class="container">
      <!-- <div class="pull-left row align-items-center justify-content-lg-between"> -->
      <!-- <div class="pull-left row align-items-center"> -->
      <!-- <div class="col-lg-6 mb-lg-0 mb-4"> -->
      <!-- <div class="copyright pull-right"> -->
      <div class="copyright text-center text-sm text-muted">
        &copy;
        {{date | date: 'yyyy'}}, Application - to-do list
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</footer>