<div class="main-content">

  <!-- <todo-info-dashboard [totalCountTasksProps]="totalCountTasks" -->
  <todo-info-dashboard [totalCountTasksProps]="(tasks | tasksFilter: '': activeCategory: null: null).length"
    [totalCountCompletedTasksProps]="(tasks | tasksFilter: '': activeCategory: null: true).length"
    [totalCountUncompletedTasksProps]="(tasks | tasksFilter: '': activeCategory: null: false).length">
  </todo-info-dashboard>

  <todo-task-filter [prioritiesProps]="priorities" (searchText)="getSearchTextProps($event)"
    (priority)="getPriorityProps($event)" (status)="getStatusProps($event)"></todo-task-filter>
  <!-- <todo-task-filter></todo-task-filter> -->

  <todo-task-list-table [tasksProps]="tasks | tasksFilter: searchText: activeCategory: priority: status"
    [categoriesProps]="categories" [prioritiesProps]="priorities"
    (newTask)="getUpdateTasksProps($event)"></todo-task-list-table>

</div>
