.nav-item .nav-link.active {
  background-color: rgb(232 57 117);
}
.btn {
  margin: 0;
  padding: 6px;
  outline: none;
}
// .nav-link-text {
//   font-size: 1rem;
// }
.wrap {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}
.material-icons {
  font-size: 30px;
}
.mat-mdc-mini-fab {
  background-color: white;
}
.text-wrapper {
  width: 82%;
  // border: 1px solid #000;
  display: block;
  box-sizing: border-box;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // white-space: initial;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
}
