<div class="sidenav-header">
  <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
    aria-hidden="true" id="iconSidenav"></i>
  <span class="navbar-brand m-0">
    <h3 class="ms-1 font-weight-bold text-white">Category</h3>
    <button mat-mini-fab color="white" (click)="onOpenDialogAddCategory()">
      <i class="material-icons">add</i>
    </button>
  </span>
</div>

<hr class="horizontal light mt-0 mb-2">

<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <li class="nav-item pointer" (click)="onGetTaskByCategory(categoryNameAll, null)">
      <span class="nav-link text-white bg-gradient-primary justify-content-between"
        [class.active]="categoryNameAll === activeCategoryName">
        <span class="nav-link-text ms-1">{{categoryNameAll}}</span>

      </span>
    </li>
    <li *ngFor="let category of categories; let index = index" class="nav-item pointer"
      (click)="onGetTaskByCategory(category.name, category)" (mouseleave)="onShowBtnEdit(null)"
      (mouseenter)="onShowBtnEdit(index)">
      <span class="nav-link text-white bg-gradient-primary justify-content-between"
        [class.active]="category.name === activeCategoryName">
        <div class="text-wrapper ">
          <div class="nav-link-text ms-1 ellipsis">{{category.name}}</div>
        </div>

        <!-- <button  class="btn text-white text-center me-2 d-flex align-items-center justify-content-center"> -->
        <div class="wrap d-flex align-items-center justify-content-center">
          <button *ngIf="index === showBtnEdit"
            class="btn text-white text-center d-flex align-items-center justify-content-center"
            (click)="onOpenDialogEditCategory(category)" (click)="$event.stopPropagation()">
            <i class="material-icons text-success opacity-30">edit</i>
          </button>
        </div>
      </span>
    </li>

  </ul>
</div>