<div class="container-fluid">
  <div class="row justify-content-center h-100">
    <span class="loading col-auto">
      <img src="../../../../assets/img/loader/Rhombus.gif" alt="Loading..." />
      <!-- <div>
        <div class="multi-spinner-container">
          <div class="multi-spinner">
            <div class="multi-spinner">
              <div class="multi-spinner">
                <div class="multi-spinner">
                  <div class="multi-spinner">
                    <div class="multi-spinner">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </span>
  </div>
</div>