.form-check {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
label {
  margin: 0;
  padding: 4px;
  display: flex;
  align-items: center;
}
.no-priority {
  color: #9c9c9c;
}
.completed {
  // text-decoration: line-through;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #999999;
  text-decoration-thickness: from-font;
  color: #cccccc;
}
.btn {
  margin: 0;
  padding: 4px;
  outline: none;
}
.cdk-column-color {
  width: 1%;
}
.cdk-column-index {
  width: 5%;
  text-align: center;
}
.cdk-column-title {
  width: 40%;
}
.cdk-column-category {
  width: 10%;
}
.cdk-column-priority {
  width: 10%;
}
.cdk-column-date-end {
  width: 18%;
}
.cdk-column-status {
  width: 5%;
}
.cdk-column-delete {
  width: 5%;
  text-align: center;
}
