<!-- <div class="main-content mt-4">
  <div class="container-fluid pd-0">
    <div class="row">
      <div class="col-md-12">
        <div class="card"> -->
<!-- <div class="card-header card-header-danger"> -->
<!-- <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h4 class="card-title ">Simple Table</h4>
              <p class="card-category"> Here is a subtitle for this table</p>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Salary
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-primary">
                      $36,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-primary">
                      $23,789
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-primary">
                      $56,142
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-primary">
                      $38,735
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-primary">
                      $63,542
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-primary">
                      $78,615
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
<!-- <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Table on Plain Background</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Salary
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td>
                      $36,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td>
                      $23,789
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td>
                      $56,142
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td>
                      $38,735
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td>
                      $63,542
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td>
                      $78,615
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
<!-- </div>
  </div>
</div> -->

<!-- ******************************** -->

<div lass="container-fluid py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 pd-0">
        <!-- <div class="col-12"> -->
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h5 class="text-white text-capitalize ps-3">To-do list</h5>
            </div>
          </div>
          <div class="card-body px-3 pb-2">
            <todo-loader *ngIf="!tasks"></todo-loader>
            <div *ngIf="tasks" class="table-responsive p-0">
              <p *ngIf="tasks.length < 1">List is empty</p>
              <!-- ***** Mat Table start ***** -->
              <table *ngIf="tasks.length > 0" mat-table [dataSource]="myDataSource" matSort>

                <ng-container matColumnDef="color">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let task" [style.background]="setColorPriority(task)"> </td>
                </ng-container>

                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let index = index" [class]=""> {{index + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                  <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.status, }"> {{task.name}} </td>
                </ng-container>

                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category </th>
                  <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.status, }"> {{task.category ?
                    task.category.name : "No category"}} </td>
                </ng-container>

                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef> Priority </th>
                  <td mat-cell *matCellDef="let task"
                    [ngClass]="{'completed': task.status, 'no-priority': task.priority === null}"> {{task.priority ?
                    task.priority.name : "no priority"}} </td>
                </ng-container>

                <ng-container matColumnDef="date-end">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of completion </th>
                  <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.status, }"> {{task.date ? (task.date
                    | date:"short") : ""}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef> Edit </th>
                  <td mat-cell *matCellDef="let task">
                    <button class="btn">
                      <i class="material-icons text-sm">edit</i>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <!-- <td mat-cell *matCellDef="let task"> {{task.status}} </td> -->
                  <td mat-cell *matCellDef="let task">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" [checked]="task.status"
                          (click)="onToggleTaskCompleted(task)">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let task">
                    <!-- <div class="col-auto"> -->
                    <button class="btn">
                      <i class="material-icons text-danger">delete</i>
                    </button>
                    <!-- </div> -->
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dataNameTasks"></tr>
                <tr mat-row *matRowDef="let myRowTask; columns: dataNameTasks"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                <!-- aria-label="Select page of periodic elements"  -->
              </mat-paginator>
              <!-- ***** Mat Table end***** -->
              <!-- <table *ngIf="tasks.length > 0" class="table align-items-center mb-0">
                <thead class="">
                  <tr>
                    <th class="w-10 text-uppercase text-danger text-gradient text-xxs font-weight-bolder opacity-7">
                      <h6>№</h6>
                    </th>
                    <th
                      class="w-50 text-uppercase text-danger text-gradient text-xxs font-weight-bolder opacity-7 ps-2">
                      <h6>Name</h6>
                    </th>
                    <th
                      class="w-15 text-center text-uppercase text-gradient text-danger text-xxs font-weight-bolder opacity-7">
                      <h6>Category</h6>
                    </th>
                    <th
                      class="w-10 text-center text-uppercase text-gradient text-danger text-xxs font-weight-bolder opacity-7">
                      <h6>Priority</h6>
                    </th>
                    <th
                      class="w-15 text-center text-uppercase text-gradient text-danger text-xxs font-weight-bolder opacity-7">
                      <h6>Date</h6>
                    </th>
                    <th
                      class="w-5 text-center text-uppercase text-gradient text-danger text-xxs font-weight-bold opacity-7">
                      <h6>Status</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let i = index"> -->
              <!-- <todo-task *ngFor="let task of tasks; let i = index" [task]="task" [index]="i"
                  [status]="task.status"></todo-task> -->
              <!-- <td>
                      <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs text-secondary mb-0" [class.completed]="task.status">{{task.id}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0" [class.completed]="task.status">{{task.name}}</p>
                    </td>
                    <td class="align-middle text-center text-sm"> -->
              <!-- <span class="badge badge-sm bg-gradient-success">Online</span> -->
              <!-- <p class="text-xs font-weight-bold mb-0" [class.completed]="task.status">{{task.category?.name}}
                      </p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-xs font-weight-bold mb-0" [class.completed]="task.status">{{task.date |
                        date:"yyyy.mm.dd"}}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0" [class.completed]="task.status">{{task.date |
                          date:"yyyy.mm.dd"}}</p>
                        </td>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="" [checked]="task.status"
                              (click)="onToggleTaskCompleted(task)">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table> -->
              <!-- ******************************** -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
