<div class="container-fluid py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-sm-6 mt-4">
        <mat-form-field class="example-form-field w-100">
          <mat-label>Search in current category</mat-label>
          <input matInput type="text" #search (input)="onSearch(search.value)">
          <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="onClearText(search)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-sm-6 mt-4">
        <mat-form-field class="example-form-field">
          <mat-label>Priority search</mat-label>
          <mat-select #priority>
            <mat-option [value]="null" (click)="onGetPriority(null)">remove priority</mat-option>
            <mat-option *ngFor="let prior of prioritiesProps" [value]="prior" (click)="onGetPriority(prior)">
              {{prior.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-sm-6 mt-4">
        <mat-form-field class="example-form-field w-100">
          <mat-label>status search</mat-label>
          <mat-select #status>
            <mat-option [value]="null" (click)="onGetStatus(null)">
              remove status
            </mat-option>
            <mat-option [value]="true" (click)="onGetStatus(true)">
              completed
            </mat-option>
            <mat-option [value]="false" (click)="onGetStatus(false)">
              uncompleted
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-sm-6 mt-4">
        <button mat-stroked-button (click)="onClearAll(search, priority, status)" class="w-100">
          Reset filters
        </button>
      </div>
    </div>
  </div>
</div>